h2{
    color: orange;
}
body{
    background-color: #bfc5d2;
    width: 400px;
}

.done-true{
    color: black;
    opacity: 0.7;
    text-decoration: line-through;
    font-size: 20px;
}
.done-false{
    font-size: 20px;
}
.checkbox{
    zoom: 2;
    position: absolute;
    left: 7px;
}
#addbutton{
    background-color: #88c0ff;
    border-color: #88c0ff;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    padding: 7px 7px 7px 7px;
    font-size: 15px;
}


.notebuttons{
	list-style-type: none;
	list-style-position: relative;
	position: relative;
    right:0;
    float:right;
}

.notebuttons li{
		margin-top: 0px;
	}

.editbutton{
    position: relative;
    border-radius: 5px;
    background-color: #4fc0ff;
    border-color: #4fc0ff;
    color: black;
    font-weight: bold;
    padding: 0px 7px;
    font-size: 15px;
    float: right;
}

.notebutton{
    position: relative;
    border-radius: 5px;
    background-color: #00ffff;
    border-color: #00ffff;
    color: black;
    font-weight: bold;
    padding: 0px 7px;
    font-size: 10px;
    float: right; 
}


.text{
    padding: 7px 7px 7px 7px;
}

#removebutton{
    background-color: #3f5670;
    color: white;
    border-color: #3f5670;
    border-radius: 10px;
    float: right;
    position: relative;
    padding: 7px 7px 7px 7px;
    font-size: 15px;
    font-weight: bold;
}

.head{
    background-color: #105cff;
    color: white;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.logout{
    position: absolute;
    top: 13px;
    color: #1c0664;
    right: 0;
    font-size: 30px;
}

.title{
    font-family:  Patua One , cursive;
}
.content{
    font-family:  Belleza, sans-serif;
    height : 50px;
    overflow-x: hidden;
    overflow-y: scroll;
    border: solid #636c72 2px;
    border-radius: 10px;
    padding: 0 5px;
}
.link{
    color: #3c763d;
}
::-webkit-scrollbar {
    display: none;
}

/* Tooltip text */
.add-alert {

    display: none;
    background-color: #7b7dff;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: relative;
    z-index: 1;
    bottom: 125%;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.add-alert::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #7264ff transparent transparent transparent;

}

/* Show the tooltip text when you mouse over the tooltip container */
.after-add {
    display: block;
    opacity: 1;
}